### Q1

In [3]:
limit = int(input("Enter a number: "))
for i in range (0,limit,7):
    print(i)

Enter a number: 6
0

### Q2

In [14]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
for num in range (1,len(l),2):
    print(l[num],end = " ")

6 5 11 22 99

### Q3

In [15]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
for num in range (0,len(l),2):
    print(l[num],end = " ")

1 4 8 34 67

### Q4

In [18]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
for num in range (2,len(l),3):
    print(l[num],end = " ")

4 11 67

### Q5

In [23]:
N = int(input('Enter a number: '))
total = 0
for i in range (0,N,2):
    total = total + i
print(total)

Enter a number: 10
20

### Q6

In [28]:
N = int(input('Enter a number: '))
total = 0
for i in range (0,N+1,2):
    total = total + i
print(total)

Enter a number: 10
30

### Q7

In [29]:
N = int(input('Enter a number: '))
total = 0
for i in range (1,N,2):
    total = total + i
print(total)

Enter a number: 10
25

### Q8

In [30]:
N = int(input('Enter a number: '))
total = 0
for i in range (1,N+1,2):
    total = total + i
print(total)

Enter a number: 11
36

### Q9

In [3]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
total = 0
length = len(l)
for i in range (0,len(l)):
    total = total + l[i]
print(total)
print(total / length)

257
25.7

### Q10

In [9]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
total = 0
for i in range (1,len(l),2):
    total = total + l[i]
    print(l[i], end = " ")
print("=",total)
print(total / 5)

6 5 11 22 99 = 143
28.6

### Q11

In [12]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
total = 0
for i in range (0,len(l),2):
    total = total + l[i]
    print(l[i], end = " ")
print("=",total)
print(total / 5)

1 4 8 34 67 = 114
22.8

### Q12

In [13]:
l = [1 , 6 , 4 , 5 , 8 , 11 , 34 , 22 , 67 , 99]
temp_max = -10000
length = len(l)
for i in range(0,length):
    if (l[i] > temp_max):
        temp_max = l[i]
print (temp_max)

99

### Q13

In [15]:
l = [1 , 6 , 4 ,-1, 5 , 8 , 11 , 34 , 22 , 67 , 99]
temp_min = 10000
length = len(l)
for i in range(0,length):
    if (l[i] < temp_min):
        temp_min = l[i]
print (temp_min)

-1

In [17]:
l = [1,16,4,-1, 5,8,11,34,64,99,67,88,2]
ans = []
length = len(l)
for i in range (0,length):
    num = l[i] % 2
    ans.append(num)
print(ans)

[1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0]