#### Without map

In [2]:
def sq (num):
    return num ** 2

nums = [1,4,7,9]
ans = []
for i in nums:
    ans.append(sq(i))
print(ans)

[1, 16, 49, 81]

### With Map

In [3]:
def sq (num):
    return num ** 2

nums = [1,4,7,9]
print (list(map(sq , nums)))

[1, 16, 49, 81]

In [4]:
nums = [1,4,7,9]
sq = lambda x : x**2
print (list(map(sq , nums)))

[1, 16, 49, 81]

In [5]:
# ------------------------------------------------------- #

#### CHALLENGE 1

In [14]:
# i) w/o map
def half (nums):
    ans = []
    for i in nums:
        ans.append (i/2)
    return ans

seq = [5, 9, 10, 21, 100, 109]
print (half(seq))

[2.5, 4.5, 5.0, 10.5, 50.0, 54.5]

In [23]:
# ii) map w/o lambda
def half (num):
    return num/2

seq = [5, 9, 10, 21, 100, 109]
print (list(map(half , seq)))

[2.5, 4.5, 5.0, 10.5, 50.0, 54.5]

In [18]:
# iii) map with lambda
seq = [5, 9, 10, 21, 100, 109]
print( list(map(lambda x : x/2 , seq)) )

[2.5, 4.5, 5.0, 10.5, 50.0, 54.5]

In [20]:
# ------------------------------------------------------- #

#### CHALLENGE 2

In [24]:
# i) w/o map
def length (animals):
    ans = []
    for i in animals:
        ans.append (len(i))
    return ans

animals = ['dog', 'cat', 'parrot', 'rabbit','rhinoceros']
print (length(animals))

[3, 3, 6, 6, 10]

In [25]:
# ii) map w/o lambda
def length (animal):
    return len(animal)

animals = ['dog', 'cat', 'parrot', 'rabbit','rhinoceros']
print (list(map(length , animals)))

[3, 3, 6, 6, 10]

In [26]:
# iii) map with lambda
animals = ['dog', 'cat', 'parrot', 'rabbit','rhinoceros']
print( list(map(lambda x : len(x) , animals)) )

[3, 3, 6, 6, 10]

In [27]:
# ------------------------------------------------------- #

#### CHALLENGE 3

In [28]:
# i) w/o map
def dtype (objects):
    ans = []
    for i in objects:
        ans.append (type(i))
    return ans

seq = ['dog' , 1 , "Hundred" , [2,3,4] , (2,3,4) , {"name":"Zugzwang"}]
print (dtype(seq))

[<class 'str'>, <class 'int'>, <class 'str'>, <class 'list'>, <class 'tuple'>, <class 'dict'>]

In [29]:
# ii) map w/o lambda
def dtype (objects):
    return type(objects)

seq = ['dog' , 1 , "Hundred" , [2,3,4] , (2,3,4) , {"name":"Zugzwang"}]
print (list(map(dtype , seq)))

[<class 'str'>, <class 'int'>, <class 'str'>, <class 'list'>, <class 'tuple'>, <class 'dict'>]

In [41]:
# iii) map with lambda
seq = ['dog' , 1 , "Hundred" , [2,3,4] , (2,3,4) , {"name":"Zugzwang"}]
print( list(map(lambda x : type(x) , seq)) )

[<class 'str'>, <class 'int'>, <class 'str'>, <class 'list'>, <class 'tuple'>, <class 'dict'>]

In [42]:
# ------------------------------------------------------- #

#### CHALLENGE 4

In [34]:
from math import pi
# i) w/o map
def c_area (radius):
    ans = []
    for i in radius:
        area = pi * i * i
        ans.append(round(area,2))
    return ans

r = [1,2,3,4,5]
print (c_area(r))

[3.14, 12.57, 28.27, 50.27, 78.54]

In [37]:
# ii) map w/o lambda
def c_area (radius):
    area = pi * radius * radius
    return round(area,2)

r = [1,2,3,4,5]
print (list(map(c_area , r)))

[3.14, 12.57, 28.27, 50.27, 78.54]

In [40]:
# iii) map with lambda
r = [1,2,3,4,5]
c_area = lambda x : round (pi * x * x,2)
print( list(map(c_area , r)))

[3.14, 12.57, 28.27, 50.27, 78.54]

In [43]:
# ------------------------------------------------------- #

#### CHALLENGE 5

In [47]:
# i) w/o map
def cuboid (lists):
    ans = []
    for i in lists:
        ans.append(i[0] * i[1] * i[2])
    return ans

dimensions = [[1,2,3],[4,5,6],[3,1,1],[9,1,2]]
print (cuboid(dimensions))

[6, 120, 3, 18]

In [50]:
# ii) map w/o lambda
def cuboid (d):
    return (d[0] * d[1] * d[2])

dimensions = [[1,2,3],[4,5,6],[3,1,1],[9,1,2]]
print (list(map(cuboid, dimensions)))

[6, 120, 3, 18]

In [58]:
# iii) map with lambda
cuboid = lambda x : x[0] * x[1] * x[2]
dimensions = [[1,2,3],[4,5,6],[3,1,1],[9,1,2]]
print (list(map(cuboid, dimensions)))

[6, 120, 3, 18]

In [52]:
# ------------------------------------------------------- #

#### CHALLENGE 6

In [55]:
# i) w/o map
def sumlist (list1 , list2):
    ans = []
    if (len(list1) < len(list2)):
        for i in range (len(list1)):
            ans.append (list1[i] + list2[i])
        return ans
    else:
        for i in range (len(list2)):
            ans.append (list1[i] + list2[i])
        return ans

list1 = [5,3,5,9,10,7]
list2 = [4,3,4]
print (sumlist(list1 , list2))

[9, 6, 9]

In [57]:
# ii) map w/o lambda
def sumlist (n_1 , n_2):
    return n_1 + n_2
        
list1 = [5,3,5,9,10,7]
list2 = [4,3,4]
print( list(map(sumlist , list1 , list2 )) )

[9, 6, 9]

In [59]:
# iii) map with lambda
list1 = [5,3,5,9,10,7]
list2 = [4,3,4]
print( list(map(lambda x,y : x+y , list1 , list2 )) )

[9, 6, 9]

In [61]:
# ------------------------------------------------------- #

#### CHALLENGE 7

In [63]:
# ii) map w/o lambda
def sqlist (n_1 , n_2):
    return n_1 ** n_2
        
list1 = [1,2,5,4]
list2 = [10,3,2,4]
print( list(map(sqlist , list1 , list2 )) )

[1, 8, 25, 256]

In [65]:
# iii) map with lambda
list1 = [1,2,5,4]
list2 = [10,3,2,4]
print( list(map(lambda x,y : x**y , list1 , list2 )) )

[1, 8, 25, 256]

In [66]:
# ------------------------------------------------------- #