In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier as RFC

In [2]:
cars = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/Car_Evaluation.csv")

In [3]:
cars.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
col_names = ['Buying', 'Maint', 'Doors', 'Persons', 'Boot', 'Safety', 'Class']
cars.columns = col_names
cars.head()

  Buying  Maint Doors Persons   Boot Safety  Class
0  vhigh  vhigh     2       2  small    med  unacc
1  vhigh  vhigh     2       2  small   high  unacc
2  vhigh  vhigh     2       2    med    low  unacc
3  vhigh  vhigh     2       2    med    med  unacc
4  vhigh  vhigh     2       2    med   high  unacc

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

cars['Buying'] = le.fit_transform(cars['Buying'])
cars['Maint'] = le.fit_transform(cars['Maint'])
cars['Doors'] = le.fit_transform(cars['Doors'])
cars['Persons'] = le.fit_transform(cars['Persons'])
cars['Boot'] = le.fit_transform(cars['Boot'])
cars['Safety'] = le.fit_transform(cars['Safety'])

cars.head()

   Buying  Maint  Doors  Persons  Boot  Safety  Class
0       3      3      0        0     2       2  unacc
1       3      3      0        0     2       0  unacc
2       3      3      0        0     1       1  unacc
3       3      3      0        0     1       2  unacc
4       3      3      0        0     1       0  unacc

In [6]:
X = cars.drop('Class',axis=1)
Y = cars['Class']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20)

In [8]:
predict = RFC()
predict.fit(X_train,Y_train)

RandomForestClassifier()

In [9]:
prediction = predict.predict(X_test)

from sklearn.metrics import accuracy_score as acc
result = acc(Y_test, prediction)
print (round (result*100,2))

97.11