In [11]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [12]:
df = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/Admissions.csv")
df.head()

   PCM  Sports  Project  Warnings  Admitted
0  780     4.0        3        25         2
1  750     3.9        4        28         2
2  690     3.3        3        24         1
3  710     3.7        5        27         2
4  780     3.9        4        26         2

In [13]:
x = df[["PCM","Sports","Project","Warnings"]]   # Input
y = df["Admitted"]    # Output

In [14]:
clf = RandomForestClassifier()
clf.fit(x,y)

RandomForestClassifier()

In [15]:
prediction = clf.predict( [[580,4,1,31]] )
result = prediction[0]
result

1

In [16]:
if result == 2:
    print ("Admission Confirmed")
    
elif result == 1:
    print ("Waiting List")
    
else:
    print ("Sorry you've been rejected")

Waiting List

In [17]:
#################################

In [18]:
###################################

In [19]:
#####################################

## Tennis

In [20]:
tennis = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/PlayTennis.csv")
tennis.head()

    Outlook Temp. Humidity    Wind Play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [21]:
test = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/PlayTennisTest.csv")
test

   Outlook  Temp.  Humidity  Wind
0        0      2         1     1

In [22]:
encoded = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/PlayTennis_Encoded.csv")
encoded.head()

   Outlook  Temp.  Humidity  Wind  Play
0        2      1         0     1     0
1        2      1         0     0     0
2        0      1         0     1     1
3        1      2         0     1     1
4        1      0         1     1     1

In [23]:
x = encoded[["Outlook","Temp.","Humidity","Wind"]]
y = encoded["Play"]
clf_t = RandomForestClassifier()
clf_t.fit(x,y)

RandomForestClassifier()

In [24]:
mypred = clf_t.predict(test)
if (mypred[0] == 1):
    print ("GAME ON")
    
else:
    print ("Sorry No Game")

GAME ON