In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier as RFC

In [2]:
cars = pd.read_csv("/Users/kirangangaraju/Desktop/Python/ZugZwang/ML/CSVs/Modified_Car_Evaluation.csv")

In [3]:
cars

     buying  maint  doors persons lug_boot safety Cars24_rating  class
0     vhigh  vhigh      2       2    small    low          poor  unacc
1     vhigh  vhigh      2       2    small    med          poor  unacc
2     vhigh  vhigh      2       2    small   high          poor  unacc
3     vhigh  vhigh      2       2      med    low          poor  unacc
4     vhigh  vhigh      2       2      med    med          poor  unacc
...     ...    ...    ...     ...      ...    ...           ...    ...
1723    low    low  5more    more      med    med          good   good
1724    low    low  5more    more      med   high         vgood  vgood
1725    low    low  5more    more      big    low          poor  unacc
1726    low    low  5more    more      big    med          good   good
1727    low    low  5more    more      big   high         vgood  vgood

[1728 rows x 8 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

cars['buying'] = le.fit_transform(cars['buying'])
cars['maint'] = le.fit_transform(cars['maint'])
cars['doors'] = le.fit_transform(cars['doors'])
cars['persons'] = le.fit_transform(cars['persons'])
cars['lug_boot'] = le.fit_transform(cars['lug_boot'])
cars['safety'] = le.fit_transform(cars['safety'])
cars['Cars24_rating'] = le.fit_transform(cars['Cars24_rating'])

cars.head()

   buying  maint  doors  persons  lug_boot  safety  Cars24_rating  class
0       3      3      0        0         2       1              2  unacc
1       3      3      0        0         2       2              2  unacc
2       3      3      0        0         2       0              2  unacc
3       3      3      0        0         1       1              2  unacc
4       3      3      0        0         1       2              2  unacc

In [5]:
X = cars.drop('class',axis=1)
Y = cars['class']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20)

In [7]:
predict = RFC()
predict.fit(X_train,Y_train)

RandomForestClassifier()

In [8]:
prediction = predict.predict(X_test)

from sklearn.metrics import accuracy_score as acc
result = acc(Y_test, prediction)
print (round (result*100,2))

100.0